In [1]:
import pandas as pd
import numpy as np

# Pandas project
1. Using Real Estate Dataset, remove redundant data
2. Find the total sales by Residential Type
3. Generate a new table that sort your data using column Sales Ratio from the highest to the minimum
4. Find the first 10 Sales with the highest amount in a dataframe
5. Return the min, the max and the total sales of Estate 
6. Congratulations on your new job as a data analyst in a Real Estate company, we realize that as years goes by, we are begining to experience changes in our sales, can you draw a conclusion for your new employer, the effect of time on the company sales?
7. Kindly advise the company, which town should they stop selling Estate
8. Base on your findings, advise the company, which town should we continue selling our Real Estate
9. We have different properties in our company, which property will you advise us to stop selling and which will you advise us to sell more of it?
SAVE YOUR ANALYSIS WITH YOUR NAME AND YOUR STUDENT'S ID. GOODLUCK...

In [2]:
#To import the real estate dataset
data=pd.read_csv('Real_Estate_Sales_2001-2020_GL.csv')
data

C:\Users\victoria\AppData\Local\Temp\ipykernel_7732\3639444233.py:2: DtypeWarning: Columns (8,9,10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  data=pd.read_csv('Real_Estate_Sales_2001-2020_GL.csv')

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Non Use Code,Assessor Remarks,OPM remarks,Location
0,2020348,2020,09/13/2021,Ansonia,230 WAKELEE AVE,150500.0,325000.0,0.463000,Commercial,NaN,NaN,NaN,NaN,NaN
1,20002,2020,10/02/2020,Ashford,390 TURNPIKE RD,253000.0,430000.0,0.588300,Residential,Single Family,NaN,NaN,NaN,NaN
2,200212,2020,03/09/2021,Avon,5 CHESTNUT DRIVE,130400.0,179900.0,0.724800,Residential,Condo,NaN,NaN,NaN,NaN
3,200243,2020,04/13/2021,Avon,111 NORTHINGTON DRIVE,619290.0,890000.0,0.695800,Residential,Single Family,NaN,NaN,NaN,NaN
4,200377,2020,07/02/2021,Avon,70 FAR HILLS DRIVE,862330.0,1447500.0,0.595700,Residential,Single Family,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997208,190272,2019,06/24/2020,New London,4 BISHOP CT,60410.0,53100.0,1.137665,Single Family,Single Family,14 - Foreclosure,NaN,NaN,NaN
997209,190284,2019,11/27/2019,Waterbury,126 PERKINS AVE,68280.0,76000.0,0.898400,Single Family,Single Family,25 - Other,PRIVATE SALE,NaN,NaN
997210,190129,2019,04/27/2020,Windsor Locks,19 HATHAWAY ST,121450.0,210000.0,0.578300,Single Family,Single Family,NaN,NaN,NaN,NaN
997211,190504,2019,06/03/2020,Middletown,8 BYSTREK DR,203360.0,280000.0,0.726300,Single Family,Single Family,NaN,NaN,NaN,NaN
997212,190344,2019,12/20/2019,Milford,250 RESEARCH DR,4035970.0,7450000.0,0.541700,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
data.drop(['Non Use Code', 'Assessor Remarks','OPM remarks', 'Location'], axis=1, inplace=True)
data

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type
0,2020348,2020,09/13/2021,Ansonia,230 WAKELEE AVE,150500.0,325000.0,0.463000,Commercial,NaN
1,20002,2020,10/02/2020,Ashford,390 TURNPIKE RD,253000.0,430000.0,0.588300,Residential,Single Family
2,200212,2020,03/09/2021,Avon,5 CHESTNUT DRIVE,130400.0,179900.0,0.724800,Residential,Condo
3,200243,2020,04/13/2021,Avon,111 NORTHINGTON DRIVE,619290.0,890000.0,0.695800,Residential,Single Family
4,200377,2020,07/02/2021,Avon,70 FAR HILLS DRIVE,862330.0,1447500.0,0.595700,Residential,Single Family
...,...,...,...,...,...,...,...,...,...,...
997208,190272,2019,06/24/2020,New London,4 BISHOP CT,60410.0,53100.0,1.137665,Single Family,Single Family
997209,190284,2019,11/27/2019,Waterbury,126 PERKINS AVE,68280.0,76000.0,0.898400,Single Family,Single Family
997210,190129,2019,04/27/2020,Windsor Locks,19 HATHAWAY ST,121450.0,210000.0,0.578300,Single Family,Single Family
997211,190504,2019,06/03/2020,Middletown,8 BYSTREK DR,203360.0,280000.0,0.726300,Single Family,Single Family
997212,190344,2019,12/20/2019,Milford,250 RESEARCH DR,4035970.0,7450000.0,0.541700,NaN,NaN

In [4]:
data.columns

Index(['Serial Number', 'List Year', 'Date Recorded', 'Town', 'Address',
       'Assessed Value', 'Sale Amount', 'Sales Ratio', 'Property Type',
       'Residential Type'],
      dtype='object')

In [5]:
Data=data['Residential Type'].fillna('Unknown', inplace=True)

In [6]:
Data1=data['Property Type'].fillna('Unknown',inplace=True)
data

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type
0,2020348,2020,09/13/2021,Ansonia,230 WAKELEE AVE,150500.0,325000.0,0.463000,Commercial,Unknown
1,20002,2020,10/02/2020,Ashford,390 TURNPIKE RD,253000.0,430000.0,0.588300,Residential,Single Family
2,200212,2020,03/09/2021,Avon,5 CHESTNUT DRIVE,130400.0,179900.0,0.724800,Residential,Condo
3,200243,2020,04/13/2021,Avon,111 NORTHINGTON DRIVE,619290.0,890000.0,0.695800,Residential,Single Family
4,200377,2020,07/02/2021,Avon,70 FAR HILLS DRIVE,862330.0,1447500.0,0.595700,Residential,Single Family
...,...,...,...,...,...,...,...,...,...,...
997208,190272,2019,06/24/2020,New London,4 BISHOP CT,60410.0,53100.0,1.137665,Single Family,Single Family
997209,190284,2019,11/27/2019,Waterbury,126 PERKINS AVE,68280.0,76000.0,0.898400,Single Family,Single Family
997210,190129,2019,04/27/2020,Windsor Locks,19 HATHAWAY ST,121450.0,210000.0,0.578300,Single Family,Single Family
997211,190504,2019,06/03/2020,Middletown,8 BYSTREK DR,203360.0,280000.0,0.726300,Single Family,Single Family
997212,190344,2019,12/20/2019,Milford,250 RESEARCH DR,4035970.0,7450000.0,0.541700,Unknown,Unknown

In [7]:
data[data['Town']=="***Unknown***"]

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type
444657,70086,2007,12/18/2007,***Unknown***,18 MATHIEU LANE,66540.0,282450.0,0.235582,Single Family,Single Family

In [8]:
data.drop(index=444657, axis=0, inplace=True)

In [9]:
data.info

<bound method DataFrame.info of         Serial Number  List Year Date Recorded           Town  \
0             2020348       2020    09/13/2021        Ansonia
1               20002       2020    10/02/2020        Ashford
2              200212       2020    03/09/2021           Avon
3              200243       2020    04/13/2021           Avon
4              200377       2020    07/02/2021           Avon
...               ...        ...           ...            ...
997208         190272       2019    06/24/2020     New London
997209         190284       2019    11/27/2019      Waterbury
997210         190129       2019    04/27/2020  Windsor Locks
997211         190504       2019    06/03/2020     Middletown
997212         190344       2019    12/20/2019        Milford

                      Address  Assessed Value  Sale Amount  Sales Ratio  \
0             230 WAKELEE AVE        150500.0     325000.0     0.463000
1             390 TURNPIKE RD        253000.0     430000.0     0.588300
2            5 CHESTNUT DRIVE        130400.0     179900.0     0.724800
3       111 NORTHINGTON DRIVE        619290.0     890000.0     0.695800
4          70 FAR HILLS DRIVE        862330.0    1447500.0     0.595700
...                       ...             ...          ...          ...
997208            4 BISHOP CT         60410.0      53100.0     1.137665
997209        126 PERKINS AVE         68280.0      76000.0     0.898400
997210         19 HATHAWAY ST        121450.0     210000.0     0.578300
997211           8 BYSTREK DR        203360.0     280000.0     0.726300
997212        250 RESEARCH DR       4035970.0    7450000.0     0.541700

        Property Type Residential Type
0          Commercial          Unknown
1         Residential    Single Family
2         Residential            Condo
3         Residential    Single Family
4         Residential    Single Family
...               ...              ...
997208  Single Family    Single Family
997209  Single Family    Single Family
997210  Single Family    Single Family
997211  Single Family    Single Family
997212        Unknown          Unknown

[997212 rows x 10 columns]>

In [10]:
data = data[(data['Assessed Value'] > 10.0) & (data['Sale Amount'] > 100.0)]

In [11]:
data

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type
0,2020348,2020,09/13/2021,Ansonia,230 WAKELEE AVE,150500.0,325000.0,0.463000,Commercial,Unknown
1,20002,2020,10/02/2020,Ashford,390 TURNPIKE RD,253000.0,430000.0,0.588300,Residential,Single Family
2,200212,2020,03/09/2021,Avon,5 CHESTNUT DRIVE,130400.0,179900.0,0.724800,Residential,Condo
3,200243,2020,04/13/2021,Avon,111 NORTHINGTON DRIVE,619290.0,890000.0,0.695800,Residential,Single Family
4,200377,2020,07/02/2021,Avon,70 FAR HILLS DRIVE,862330.0,1447500.0,0.595700,Residential,Single Family
...,...,...,...,...,...,...,...,...,...,...
997208,190272,2019,06/24/2020,New London,4 BISHOP CT,60410.0,53100.0,1.137665,Single Family,Single Family
997209,190284,2019,11/27/2019,Waterbury,126 PERKINS AVE,68280.0,76000.0,0.898400,Single Family,Single Family
997210,190129,2019,04/27/2020,Windsor Locks,19 HATHAWAY ST,121450.0,210000.0,0.578300,Single Family,Single Family
997211,190504,2019,06/03/2020,Middletown,8 BYSTREK DR,203360.0,280000.0,0.726300,Single Family,Single Family
997212,190344,2019,12/20/2019,Milford,250 RESEARCH DR,4035970.0,7450000.0,0.541700,Unknown,Unknown

In [12]:
data['Profit']=data['Sale Amount']- data['Assessed Value']
data['Profit']

C:\Users\victoria\AppData\Local\Temp\ipykernel_7732\3261460171.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Profit']=data['Sale Amount']- data['Assessed Value']

0          174500.0
1          177000.0
2           49500.0
3          270710.0
4          585170.0
            ...
997208      -7310.0
997209       7720.0
997210      88550.0
997211      76640.0
997212    3414030.0
Name: Profit, Length: 988644, dtype: float64

In [13]:
data

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Profit
0,2020348,2020,09/13/2021,Ansonia,230 WAKELEE AVE,150500.0,325000.0,0.463000,Commercial,Unknown,174500.0
1,20002,2020,10/02/2020,Ashford,390 TURNPIKE RD,253000.0,430000.0,0.588300,Residential,Single Family,177000.0
2,200212,2020,03/09/2021,Avon,5 CHESTNUT DRIVE,130400.0,179900.0,0.724800,Residential,Condo,49500.0
3,200243,2020,04/13/2021,Avon,111 NORTHINGTON DRIVE,619290.0,890000.0,0.695800,Residential,Single Family,270710.0
4,200377,2020,07/02/2021,Avon,70 FAR HILLS DRIVE,862330.0,1447500.0,0.595700,Residential,Single Family,585170.0
...,...,...,...,...,...,...,...,...,...,...,...
997208,190272,2019,06/24/2020,New London,4 BISHOP CT,60410.0,53100.0,1.137665,Single Family,Single Family,-7310.0
997209,190284,2019,11/27/2019,Waterbury,126 PERKINS AVE,68280.0,76000.0,0.898400,Single Family,Single Family,7720.0
997210,190129,2019,04/27/2020,Windsor Locks,19 HATHAWAY ST,121450.0,210000.0,0.578300,Single Family,Single Family,88550.0
997211,190504,2019,06/03/2020,Middletown,8 BYSTREK DR,203360.0,280000.0,0.726300,Single Family,Single Family,76640.0
997212,190344,2019,12/20/2019,Milford,250 RESEARCH DR,4035970.0,7450000.0,0.541700,Unknown,Unknown,3414030.0

# Find the total sales by Residential Type

In [14]:
data.groupby('Residential Type')[['Sale Amount']].sum()

                   Sale Amount
Residential Type
Condo             3.207560e+10
Four Family       7.615052e+08
Single Family     1.781615e+11
Three Family      2.868037e+09
Two Family        6.125448e+09
Unknown           1.677756e+11

From the result drawn, it can be observed that Residential type[Unknown] has the highest Sales amount. However, we cannot generalize our conclusion with this result, hence dataset is subject to further analysis.

In [15]:
#replace all unknown columns with NAN and drop all NAN
data.replace('Unknown', np.nan, inplace=True)

C:\Users\victoria\AppData\Local\Temp\ipykernel_7732\3349181920.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.replace('Unknown', np.nan, inplace=True)

In [16]:
data

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Profit
0,2020348,2020,09/13/2021,Ansonia,230 WAKELEE AVE,150500.0,325000.0,0.463000,Commercial,NaN,174500.0
1,20002,2020,10/02/2020,Ashford,390 TURNPIKE RD,253000.0,430000.0,0.588300,Residential,Single Family,177000.0
2,200212,2020,03/09/2021,Avon,5 CHESTNUT DRIVE,130400.0,179900.0,0.724800,Residential,Condo,49500.0
3,200243,2020,04/13/2021,Avon,111 NORTHINGTON DRIVE,619290.0,890000.0,0.695800,Residential,Single Family,270710.0
4,200377,2020,07/02/2021,Avon,70 FAR HILLS DRIVE,862330.0,1447500.0,0.595700,Residential,Single Family,585170.0
...,...,...,...,...,...,...,...,...,...,...,...
997208,190272,2019,06/24/2020,New London,4 BISHOP CT,60410.0,53100.0,1.137665,Single Family,Single Family,-7310.0
997209,190284,2019,11/27/2019,Waterbury,126 PERKINS AVE,68280.0,76000.0,0.898400,Single Family,Single Family,7720.0
997210,190129,2019,04/27/2020,Windsor Locks,19 HATHAWAY ST,121450.0,210000.0,0.578300,Single Family,Single Family,88550.0
997211,190504,2019,06/03/2020,Middletown,8 BYSTREK DR,203360.0,280000.0,0.726300,Single Family,Single Family,76640.0
997212,190344,2019,12/20/2019,Milford,250 RESEARCH DR,4035970.0,7450000.0,0.541700,NaN,NaN,3414030.0

In [17]:
data.dropna(axis=0, inplace= True)

C:\Users\victoria\AppData\Local\Temp\ipykernel_7732\2283914991.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.dropna(axis=0, inplace= True)

In [18]:
data

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Profit
1,20002,2020,10/02/2020,Ashford,390 TURNPIKE RD,253000.0,430000.0,0.588300,Residential,Single Family,177000.0
2,200212,2020,03/09/2021,Avon,5 CHESTNUT DRIVE,130400.0,179900.0,0.724800,Residential,Condo,49500.0
3,200243,2020,04/13/2021,Avon,111 NORTHINGTON DRIVE,619290.0,890000.0,0.695800,Residential,Single Family,270710.0
4,200377,2020,07/02/2021,Avon,70 FAR HILLS DRIVE,862330.0,1447500.0,0.595700,Residential,Single Family,585170.0
5,200109,2020,12/09/2020,Avon,57 FAR HILLS DRIVE,847520.0,1250000.0,0.678000,Residential,Single Family,402480.0
...,...,...,...,...,...,...,...,...,...,...,...
997207,190272,2019,08/03/2020,Wilton,145 WHIPSTICK RD,681870.0,1134708.0,0.600900,Single Family,Single Family,452838.0
997208,190272,2019,06/24/2020,New London,4 BISHOP CT,60410.0,53100.0,1.137665,Single Family,Single Family,-7310.0
997209,190284,2019,11/27/2019,Waterbury,126 PERKINS AVE,68280.0,76000.0,0.898400,Single Family,Single Family,7720.0
997210,190129,2019,04/27/2020,Windsor Locks,19 HATHAWAY ST,121450.0,210000.0,0.578300,Single Family,Single Family,88550.0
997211,190504,2019,06/03/2020,Middletown,8 BYSTREK DR,203360.0,280000.0,0.726300,Single Family,Single Family,76640.0

# Generate a new table that sort your data using column Sales Ratio from the highest to the minimum

In [19]:
new_data=data.sort_values("Sales Ratio", ascending=False)
new_data

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Profit
528256,90429,2009,05/05/2010,Greenwich,"38 FRENCH ROAD,GRW,CT",6320090.0,3000.0,2106.696667,Condo,Condo,-6317090.0
870743,170276,2017,01/09/2018,Stratford,59 HULL CT,19099710.0,10000.0,1909.971000,Single Family,Single Family,-19089710.0
874177,170277,2017,01/09/2018,Stratford,59 HULL CT,19099710.0,10000.0,1909.971000,Single Family,Single Family,-19089710.0
386502,60092,2006,01/30/2007,New Canaan,104 DAN'S HWY P X,7757500.0,5000.0,1551.500000,Single Family,Single Family,-7752500.0
822121,160815,2016,06/27/2017,Stratford,22 BULLAND CT UNIT 22,19099710.0,15000.0,1273.314000,Single Family,Single Family,-19084710.0
...,...,...,...,...,...,...,...,...,...,...,...
457535,60141,2006,01/05/2007,South Windsor,1203 DZEN WAY,98.0,389572.0,0.000252,Condo,Condo,389474.0
453243,60042,2006,11/15/2006,Old Saybrook,175 FERRY RD UT 8,100.0,435400.0,0.000230,Condo,Condo,435300.0
638965,110002,2011,11/03/2011,Union,"30 HAMILTON DR, MASS",40.0,206000.0,0.000194,Single Family,Single Family,205960.0
51999,2000797,2020,01/15/2021,Stamford,93 GLENBROOK ROAD GARAGE #3,9290.0,72000000.0,0.000100,Residential,Condo,71990710.0
38045,2000798,2020,01/15/2021,Stamford,93 GLENBROOK ROAD GARAGE #2,6970.0,72000000.0,0.000000,Residential,Condo,71993030.0

# Find the first 10 Sales with the highest amount in a dataframe

In [20]:
sales=data.sort_values('Sale Amount', ascending=False).head(10)
sales

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Profit
60894,20200078,2020,07/06/2021,Willington,224 RIVER ROAD,223070.0,318790019.0,0.000700,Residential,Single Family,318566949.0
65620,20200102,2020,09/28/2021,Willington,7 TOLLAND TURNPIKE ROAD,112040.0,194149073.0,0.000577,Residential,Three Family,194037033.0
957543,191094,2019,08/12/2020,Norwalk,33 ORCHARD ST,507580.0,157000000.0,0.003200,Four Family,Four Family,156492420.0
655816,130446,2013,04/11/2014,Greenwich,499 INDIAN FIELD ROAD,15025570.0,120000000.0,0.125213,Single Family,Single Family,104974430.0
38490,2000804,2020,01/15/2021,Stamford,93 GLENBROOK ROAD #210,114580.0,72000000.0,0.001500,Residential,Condo,71885420.0
44648,2000818,2020,01/15/2021,Stamford,93 GLENBROOK ROAD #206,111800.0,72000000.0,0.001500,Residential,Condo,71888200.0
38045,2000798,2020,01/15/2021,Stamford,93 GLENBROOK ROAD GARAGE #2,6970.0,72000000.0,0.000000,Residential,Condo,71993030.0
28506,2000814,2020,01/15/2021,Stamford,93 GLENBROOK ROAD #202,192410.0,72000000.0,0.002600,Residential,Condo,71807590.0
29966,2000808,2020,01/15/2021,Stamford,93 GLENBROOK ROAD #103,111240.0,72000000.0,0.001500,Residential,Condo,71888760.0
44353,2000800,2020,01/15/2021,Stamford,93 GLENBROOK ROAD #214,147710.0,72000000.0,0.002000,Residential,Condo,71852290.0

# Return the min, the max and the total sales of Estate

In [21]:
mi=data['Sale Amount'].min()
mi

487.0

In [22]:
mx=data['Sale Amount'].max()
mx

318790019.0

In [23]:
sm=data['Sale Amount'].sum()
sm

219991132959.16003

#  The effect of time on the company sales?

In [26]:
data.groupby('List Year')[['Sale Amount']].corr(method='pearson')

                       Sale Amount
List Year
2006      Sale Amount          1.0
2007      Sale Amount          1.0
2008      Sale Amount          1.0
2009      Sale Amount          1.0
2010      Sale Amount          1.0
2011      Sale Amount          1.0
2012      Sale Amount          1.0
2013      Sale Amount          1.0
2014      Sale Amount          1.0
2015      Sale Amount          1.0
2016      Sale Amount          1.0
2017      Sale Amount          1.0
2018      Sale Amount          1.0
2019      Sale Amount          1.0
2020      Sale Amount          1.0

# Kindly advise the company, which town should they stop selling Estate

In [27]:
data.groupby('Town')['Profit'].sum().sort_values()

Town
Hamden      -3.924547e+08
Union        9.921670e+06
Colebrook    1.043955e+07
Scotland     1.308905e+07
Hartland     1.496502e+07
                 ...
Darien       2.498747e+09
Norwalk      2.644640e+09
Westport     2.736571e+09
Stamford     4.634990e+09
Greenwich    5.885154e+09
Name: Profit, Length: 169, dtype: float64

Base on the result drawn, it can be observed that there is a loss in sales at Hamden with a depricating value of -3.924547e+08. Hence sales should stop at Hamden Town

# Base on your findings, advise the company, which town should we continue selling our Real Estate

From the result gotten, it can be observed that Greenwitch had the highest profit, hence, it can be concluded that sales shoul increase at GREENWICH Town

# We have different properties in our company, which property will you advise us to stop selling and which will you advise us to sell more of it?

In [30]:
data.groupby('Property Type')['Profit'].sum().sort_values()

Property Type
Four Family      2.757671e+08
Three Family     5.426211e+08
Two Family       1.225381e+09
Condo            8.520186e+09
Residential      1.145608e+10
Single Family    4.457661e+10
Name: Profit, dtype: float64

In [ ]:
It can be concluded that sales should